setuptools>=68
wheel>=0.41
numpy>=2.0,<2.3
scipy>=1.11
pandas>=2.0
scikit-learn>=1.5
imbalanced-learn>=0.12
tensorflow>=2.16
torch>=2.1
captum>=0.7
pcntoolkit>=2.4
pyyaml>=6.0
statsmodels>=0.14
optuna>=3.6
shap>=0.50
neuroHarmonize>=0.2
nilearn>=0.10
matplotlib>=3.8
seaborn>=0.13
jupyter>=1.0
cloudpickle>=2.2
requests>=2.31
